{% load static %}
<link rel="stylesheet" href="{% static 'mark/css/header.css'  %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<div class="header">
    <h1>NikMarket</h1>
    <a class="anim" href="/">Главная</a>
    <a class="anim" href="">О нас</a>
    <a class="anim" href="/cart">Корзина</a>
    <a class="anim" href="{% if user.is_authenticated %}profile{% else %}auth{% endif %}">Профиль</a>

    {% if user.is_staff %}
        <a href="profile-admin" class="anim">Admin</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="/logout">Выход</a>
    {% endif %}


</div>
